.main{
    display: flex;
    padding: 1.2rem 1rem;
    justify-content: space-between;
    background-color:hsla(0, 100%, 90%, 0.3); 

    &-logo{
        font-size: 1.5rem;
        padding-top: .4rem;
        a{
            &:hover{
                color: #000;
            }
            &.active{
                color: #000;
            }
        }
        
    }
    &-login{
        a{
            color: $medium-color;
        }
        button:hover{
            background-color: $primary-color;
            a{
                color: $medium-color;
            }
            
        }

    }

    &-nav{
        &__items{
            display: flex;
            justify-content: flex-start;

            li{
                padding:.7rem 1rem ;
                font-size: 1rem;

                a{
                    text-decoration: none;
                    color: $dark-color;
                    text-transform:uppercase ;
                    border-bottom: 3px transparent solid;
                    padding-bottom: .5rem;
                    transition: border-color .4s;
                    &:hover{
                        border-color: $dark-color;
                    }
                    &.active{
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
    
}

#header{
    &__home{
        background:$bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        .header-content{
            text-align: center;
            padding-top: 18%;

            h1{
                font-size: 4rem;
            }
            p{
                font-size: 1.7rem;
            }
        }

    }

    &__inner{
        background:$bg-image no-repeat 40% 20%/cover;
        // height: 5.4rem;
        border-bottom: 3px solid $primary-color;
    }
}