#login{
    .form-login{
        gap: 1rem;
        margin-bottom: 1rem;
        .input {
            padding: .5rem 1rem ;
        }
    }

}
#login-footer {
    position: fixed;
    bottom: 0;
    background: $dark-color;
    color: #fff;
    height: 5rem;
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;

        .social .fab {
            margin-right: 1rem;
            border: 2px solid #fff;
            border-radius: 50%;
            text-align: center;
            padding: 0.6rem;
            transition: all 1s;
            color: #fff;


            &:hover {
                background-color: $primary-color;
            }
        }
    }
}