%info-shared{
    display: grid;
    gap: 1.2rem;
    
}
%info-image-shared{
    border: 1px solid $medium-color;
    padding: .5rem;
    border-radius: 2px; 
    height: 315px;
}
%info-bio-shared{
    border: 1px solid $medium-color;
    padding: .5rem;
    border-radius: 2px; 
    height: 315px;
}

#takim {
    font-size: .6rem;
    &-b{

        .header img{
            height: 20rem;
            width: 40rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .info-right {
            @extend  %info-shared;
            grid-template-columns: 1fr 2fr;

            &__image{
                @extend %info-image-shared;
            }
            &__bio{
                @extend %info-bio-shared;
            }
        }
        .info-left {
            @extend  %info-shared;
            grid-template-columns: 2fr 1fr;

            &__image{
                @extend %info-image-shared;
            }
            &__bio{
                p{
                    display: block;
                    margin-top: auto;
                    margin-bottom: auto;
                }
               
                @extend %info-bio-shared;
            }
        }
        .info{
            @extend  %info-shared;
            border: 1px solid $medium-color;
            padding: .5rem;
            border-radius: 2px; 
        }
    }
}